.backgroundImage {
    min-height: 90vh;
    background-repeat: no-repeat;
    background-size: 95vw;
    background-attachment: fixed;
    background-position: 50% 98%;
    background-image: url( ../../images/backgroundsmall.png ); 
}
.landingLogo {
    max-height: 10vh;
    width: 100%;
    margin: 10vh 0 15vh 0;
}
//tablet
@media only screen and (min-width: 700px) {
    .backgroundImage { background-image: url( ../../images/backgroundmedium.png ); }
}
//desktop
@media only screen and (min-width: 1000px) {
    .backgroundImage { background-image: url( ../../images/backgroundlarge.png ); }
}