.backgroundImage {
    min-height: 90vh;
    background-repeat: no-repeat;
    background-size: 95vw;
    background-attachment: fixed;
    background-position: 50% 98%;
    background-image: url( ../../images/backgroundsmall.png ); 
}
.landingLogo {
    max-height: 10vh;
    width: 100%;
    margin: 10vh 0 15vh 0;
}
.typingAnimation {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid var(--dark-action); /* The typewriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto !important; /* Gives that scrolling effect as the typing happens */
    animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
    animation-delay: .5s;
}
/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
/* The typewriter cursor effect */
@keyframes blink-caret {
    from,
    to { border-color: transparent }
    50% { border-color: var(--dark-action); }
}
//tablet
@media only screen and ( min-width: 700px ) {
    .backgroundImage { background-image: url( ../../images/backgroundmedium.png ); }
}
//desktop
@media only screen and ( min-width: 1000px ) {
    .backgroundImage { background-image: url( ../../images/backgroundlarge.png ); }
}