.inputContainer {
    width: inherit;
    padding: 1rem;
    position: absolute;
    bottom: 0;
    background-color: var(--dark-accent-bg);
}
.input {
    background-color: var(--light-accent-bg);
    color: var(--dark-action);
    border: none;
    border-radius: 1rem;
    width: 90% !important;
    max-width: 1200px !important;
    height: 90%;
    padding: 1rem;
    transition: all .1s ease-in-out;
    /*slightly smaller so that once you click on the input and the input scales up. the font size is not super huge*/
    font-size: .9rem;
    &::placeholder { color: var(--dark-action); }
    &:hover { cursor: pointer; }
    &:focus {
        border: 1px solid var(--dark-action);
        outline: none;
        transform: scale(1.1);
    }
}