.menu {
  float: left;
  svg {
    font-size: calc(1.25rem + 2vmin);
  } 
}
.header {
  height: calc(3.25rem + 2vmin);;
  padding: 1rem;
  position: relative;
  background-color: var(--dark-accent-bg);    
  h5 { display: inline; } 
}
.options {
  float: right;
  svg {
    font-size: calc(1.25rem + 2vmin);
  }
}
.optionsMenu {
  width: 250px;
  max-width: 90vw;
  background-color: var(--light-accent-bg);
  border-radius: .5rem;
  z-index: 1;
  position: absolute !important;
  top: 3.25rem;
  right: 0;
}