.menu {
  float: left;
  svg { font-size: 2rem; } 
}
.header {
  padding-left: 2rem;
}
.options {
  float: right;
  svg { font-size: 2rem }
}
.optionsMenu {
  width: 250px;
  max-width: 90vw;
  background-color: var(--light-accent-bg);
  border-radius: .5rem;
  z-index: 1;
  position: absolute !important;
  top: calc(3.25rem + 2vmin);
  right: 0;
  li {
    padding: 0;
    margin-bottom: 1rem;
    display: block !important;
  }
  li:hover {
    //cancels li hover effect
    font-size: 1rem;
    cursor: pointer;
  }
}