.burger {
  cursor: pointer;
  float: left;
  transform: scale(.8);
}
.close {
  float: left;
  margin-top: .5rem;
  transform: scale(.8);
  &:hover { cursor: pointer; }
}
.closeTop {
  height: 5px;
  width: 50px;
  background-color: var(--dark-action);
  transform: rotate(45deg);
  transition: transform .5s ease-in-out;
}
.closeMiddle {
  height: 5px;
  width: 50px;
  background-color: var(--dark-action);
  display: none;
  transition: transform .5s ease-in-out;
}
.closeBottom {
  height: 5px;
  width: 50px;
  background-color: var(--light-action);
  transform-origin: 40% 0;
  transform: rotate(-45deg);
  transition: transform .5s ease-in-out;
}
.openTop {
  height: 5px;
  width: 50px;
  background-color: var(--dark-action);
  margin-bottom: 5px;
  transform: rotate(0deg);
  transition: transform .5s ease-in-out;
}
.openMiddle {
  height: 5px;
  width: 50px;
  margin-bottom: 5px;
  background-color: var(--dark-action);
  transition: transform .5s ease-in;
}
.openBottom {
  height: 5px;
  width: 50px;
  background-color: var(--dark-action);
  transform: rotate(0deg);
  transition: transform .5s ease-in-out;  
}
.header {
  height: 3.25rem;
  max-height: 3.25rem;
  padding: 1rem;
  position: relative;
  background-color: var(--dark-accent-bg);    
  h5 { display: inline; } 
}
.options {
  float: right;
}
.optionsMenu {
  width: 250px;
  max-width: 90vw;
  background-color: var(--light-accent-bg);
  border-radius: .5rem;
  z-index: 1;
  position: absolute !important;
  top: 3.25rem;
  right: 0;
}