@import '../../../assets/colors.css';
@keyframes fadein {
    0% { width: 0; height: 0; background-color: rgba(96, 96, 96, 0); }
    70% { background-color: rgba(96, 96, 96, 0); }
    100% {
        width: 100vw;
        height: 100vh;
        background-color: rgba(96, 96, 96, .8);
    }
}
.popUpContainer {
    position: relative;
    z-index: 0;
    background-color: rgba(96, 96, 96, .8);
    width: 100vw;
    height: 100vh;
    animation-name: fadein;
    animation-duration: .5s;
}
/*burger is the closing x for mobile that is located in the sidebar. on mobile the sidebar is wider.*/
.burger, .closeBurger {
    position: absolute;
    top: 10px;
    /* 80 percent over minus the width of the x. this prevents from half the x being cut off the screen */
    left: calc(80% - 50px);
    width: 50px;
    cursor: pointer;
    padding: 1rem;
    margin-top: auto;
    margin-bottom: auto;
    display: inline-block;
  }
  .closeTop {
    height: 5px;
    width: 50px;
    background-color: var(--dark-action);
    transform: rotate(45deg);
    transition: transform .5s ease-in-out;
  }
  .closeBottom {
    height: 5px;
    width: 50px;
    background-color: var(--light-action);
    transform-origin: 40% 0;
    transform: rotate(-45deg);
    transition: transform .5s ease-in-out;
  }
  /* delete stuff is the x that allows you to delete a chatroom in the sidebar*/
  .deleteContainer {
    padding-top: .5rem;
    float: left;
    width: 30px;
    height: 2rem;
    cursor: pointer;
  }
  .deleteTop {
    height: 2px;
    width: 20px;
    background-color: var(--off-text);
    transform: rotate(45deg);
    transition: transform .5s ease-in-out;
  }
  .deleteBottom {   
    height: 2px;
    width: 20px;
    background-color: var(--off-text);
    transform-origin: 40% 0;
    transform: rotate(-45deg);
    transition: transform .5s ease-in-out;
}
/* All the form stuff is used for the pop up that opens when you add a new chatroom */
.form {
    position: relative;
    z-index: 10;
    display: block;
    text-align: left;
    margin: auto;
    padding: 1rem;
    background-color: var(--light-accent-bg);
    width: 80vw;
    max-width: 90vw;
    color: var(--dark-action);
    font-weight: 700;
    letter-spacing: .1rem;
    border-radius: 1rem;
    top: 2vh;
}
fieldset { border: none; }
legend {
    padding-bottom: 3rem;
    text-align: left;
}
.input {
    font-size: 1rem;
    background-color: var(--light-accent-bg);
    display: block;
    width: 100%;
    color: var(--dark-action);
    border: none;
    border-bottom: 2px solid var(--dark-action);
    margin-bottom: 3rem;
    transition: all ease-in-out;
    transition-duration: .25s;
    &:focus { transform: scale(1.2); }
}
label {
    display: block;
    margin-bottom: 1rem;;
}
.submit {
    position: relative;
    left: 25%;
    background-color: var(--dark-action);
    color: var(--light-accent-bg);
    border: none;  
    height: 3rem;
    width: 50%;
    min-width: 6rem;
    border-radius: 3rem;
    font-weight: 700;
    margin-bottom: 2rem;
    &:hover {
        color: var(--dark-action);
        background-color: var(--positive-action); 
        transition: all .5s;   
    }
}
/* phablet and up */
@media only screen and (min-width: 600px) {
    .form { padding: 3rem; }
    .register {
        left: 0;
        width: 40%;
        float: right;
    }
    .submit {
        width: 40%;
        left: 0;
    }
}
/*tablets and larger*/
@media only screen and (min-width: 700px) { 
    .form {
        padding: 3rem;
        position: relative;
        top: 10vh;
        max-width: 500px;
        max-height: 550px;
    }
}
/*For desktop*/
@media only screen and (min-width: 900px) {
    .burger { display: none; }
}