.question {
    font-weight: bold;
    width: 90%;
    text-align: left;
    margin: auto;
}
dl {
    max-width: 1300px;
    margin: auto;
}
dd {
    width: 80%;
    text-align: left;
    display: list-item;
    list-style: disc;
    margin: 0.5rem auto 2rem auto;
}