
html { font-family: Jost; font-weight: normal; }
body { font-family: Jost; font-weight: normal; }

h1, h2, h3, h4, h5, h6, legend{
  font-family: Montserrat;
  font-weight: bold;
}

.App {
  text-align: center;
}



