html {
    font-weight: bold;
    font-size: 1.25rem;
    box-sizing: border-box;
    overflow: hidden;
}
*, *:before, *:after {
  box-sizing: inherit;
}
.inputContainer{
    /*width minius padding to span entire area*/
    border-top:  2px solid #05386B;
    border-radius: 1rem 3rem 0 0;
    background-color: white;
    width: inherit;
    height: 20vh;
    padding: 1rem;
    position: absolute;
    bottom: 0;
}
.input {
    background-color: #F6F6F6;
    border: none;
    border-radius: 1rem;
    width: 80%;
    max-width: 1200px;
    height: 90%;
}

.input:hover{
    cursor: pointer;
}