nav {
    width: 100%;
    background-color: var(--light-accent-bg);
    display: flex;
    align-items: center;
    height: auto;
}
ul {
    padding: 0;
    margin: auto;
    width: 100%;
    text-align: center;     
}
li {
    display: block;
    padding: .3rem 0 .3rem 0;
    list-style: none;
    &:hover, &:focus {
        font-size: 1.1rem;
        transition: all ease-in-out .25s;
        cursor: pointer;
    }
    a{
        text-decoration: none;
    }
}
.linkColor {
    color: var(--dark-action);
}
@media only screen and (min-width: 550px) {
    nav{height: 3rem;}
    ul{ text-align: right; }
    li{ margin-right: 2rem; display: inline; }
}