nav { 
    background-color: var(--light-accent-bg);
    height: auto;
}
ul { width: 100%; }
li {
    font-size: calc(.75rem + .5vmin);
    text-align: center !important; 
    display: block !important;
    &:hover, &:focus {
        font-size: 1.1rem;
        transition: all ease-in-out .25s;     
    }
    a { 
        text-decoration: none; 
        color: var(--dark-action);
    }
}
@media only screen and (min-width: 550px) {
    nav{height: calc(2rem + 1vmin); }
    ul{ text-align: right; }
    li{ margin-right: 1rem; display: inline !important; }
}