
.burger{
  position: relative;
  top: 0;
  z-index: 1;
  height: 50px;
  width: 50px;
  cursor: pointer;
  padding: 0;
  
}

.close{
  position: relative;
  top: -10px;
  z-index: 1;
  height: 50px;
  width: 50px;
  cursor: pointer;
  padding: 0;
  
}

.closeTop{
  height: 5px;
  width: auto;
  background-color: #05386B;
  position: relative;
  top: 25px;
  transform: rotate(60deg);
  transition: transform 1s ease-in-out;
}

.closeMiddle{
  height: 5px;
  width: auto;
  background-color: #05386B;
  opacity: 0;
}

.closeBottom{
  position: relative;
  top: 15px;
  height: 5px;
  width: auto;
  background-color: #05386B;
  transform: rotate(-60deg);
  transition: transform 1s ease-in-out;
}

.burgerTop{
  height: 5px;
  
  width: auto;
  background-color: #05386B;
  margin-bottom: 5px;
  
  /* transform: rotate(50deg);   */
}

.burgerMiddle{
  height: 5px;
  width: auto;
  background-color: #05386B;
  
  margin-bottom: 5px;
  /* transform: rotate(50deg);   */
}

.burgerBottom{
  height: 5px;
  width: auto;
  background-color: #05386B;
  
  /* transform: rotate(-60deg);   */
}

.header{
    z-index: -1;
    /*width minius padding to span entire area*/
    width: calc(100% - 2rem);
    height: 10vh;
    padding: 1rem;
    border-bottom:  2px solid #05386B;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 3rem;
    background-color: white;
    position: relative;
    
    
}

.header3{
    width: 100%;
    color: #05386B;
    position: absolute;
    top: 14%;  
}




