.burger{
  width: 50px;
  cursor: pointer;
  margin-top: auto;
  margin-bottom: auto;
  display: inline-block;
  float: left;
}

.close{
  z-index: 1;
  cursor: pointer;
  padding: 0;
  float: left;
}

.closeTop{
  height: 5px;
  width: 50px;
  background-color: #05386B;
  transform: rotate(45deg);
  transition: transform .5s ease-in-out;
}

.closeMiddle{
  height: 5px;
  width: 50px;
  background-color: #05386B;
  display: none;
  transition: transform .5s ease-in-out;
}

.closeBottom{
  height: 5px;
  width: 50px;
  background-color: #365F88;
  transform-origin: 40% 0;
  transform: rotate(-45deg);
  transition: transform .5s ease-in-out;
}

.openTop{
  height: 5px;
  width: 50px;
  background-color: #05386B;
  margin-bottom: 5px;
  transform: rotate(0deg);
  transition: transform .5s ease-in-out;
}

.openMiddle{
  height: 5px;
  width: 50px;
  margin-bottom: 5px;
  background-color: #05386B;
  transition: transform .5s ease-in;
}

.openBottom{
  height: 5px;
  width: 50px;
  background-color: #05386B;
  transform: rotate(0deg);
  transition: transform .5s ease-in-out;  
}

.header{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    width: inherit;
    height: 3.25rem;
    max-height: 3.25rem;
    padding: 1rem;
    position: relative;
    background-color: #e8e8e8;     
}

.header3{
    color: #05386B;
    display: inline;
    font-family: 'Source Sans Pro', sans-serif; 
}

.circle1, .circle2, .circle3{
  margin-top: 3px;
  background-color: #05386B;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  
}

.options{
  float: right;
  cursor: pointer;
  padding: 0 1rem;
}

@media only screen and (min-width: 500px){
  .burger{
    left: -40%;
  }
}