.burger{
  position: relative;
  left: -30%;
  width: 50px;
  cursor: pointer;
  margin-top: auto;
  margin-bottom: auto;
  display: inline-block;
}

.close{
  z-index: 1;
  cursor: pointer;
  padding: 0;
}

.closeTop{
  height: 5px;
  width: 50px;
  background-color: #05386B;
  transform: rotate(45deg);
  transition: transform .5s ease-in-out;
}

.closeMiddle{
  height: 5px;
  width: 50px;
  background-color: #05386B;
  display: none;
  transition: transform .5s ease-in-out;
}

.closeBottom{
  height: 5px;
  width: 50px;
  background-color: #365F88;
  transform-origin: 40% 0;
  transform: rotate(-45deg);
  transition: transform .5s ease-in-out;
}

.openTop{
  height: 5px;
  width: 50px;
  background-color: #05386B;
  margin-bottom: 5px;
  transform: rotate(0deg);
  transition: transform .5s ease-in-out;
}

.openMiddle{
  height: 5px;
  width: 50px;
  margin-bottom: 5px;
  background-color: #05386B;
  transition: transform .5s ease-in;
}

.openBottom{
  height: 5px;
  width: 50px;
  background-color: #05386B;
  transform: rotate(0deg);
  transition: transform .5s ease-in-out;  
}

.header{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    width: inherit;
    max-height: 3rem;
    padding: 1rem;
    position: relative;
    background-color: #e8e8e8;     
}

.header3{
    color: #05386B;
    display: inline;
    font-family: 'Source Sans Pro', sans-serif; 
}

.optionsButtonContainer{
  /*background: red;*/
  width: 25px;
  height: 50px;
  position: absolute;
  right: 7%;
  bottom: 0;
  cursor: pointer;
}

.circle1, .circle2, .circle3{
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  background-color: #05386B;
  width: 15px;
  height: 10px;
  border: 2px solid black;
  border-radius: 50%;
  
}

.optionsContainer{
  background-color: rgba(96, 96, 96, .8);
  position: inherit;
  z-index: 1;
}

.options{
  width: 25vw;
  height: 50vw;
  
  
  margin: 0 auto;
  
}

@media only screen and (min-width: 500px){
  .burger{
    left: -40%;
  }
}