.burger{
  cursor: pointer;
  float: left;
  transform: scale(.8);
  //using scale so that we dont have to mess with the x sizing
}

.close {
  float: left;
  margin-top: .5rem;
  transform: scale(.8);
 
  &:hover{
    cursor: pointer;
  }
  
}

.closeTop{
  height: 5px;
  width: 50px;
  background-color: #05386B;
  transform: rotate(45deg);
  transition: transform .5s ease-in-out;
}

.closeMiddle{
  height: 5px;
  width: 50px;
  background-color: #05386B;
  display: none;
  transition: transform .5s ease-in-out;
}

.closeBottom{
  height: 5px;
  width: 50px;
  background-color: #365F88;
  transform-origin: 40% 0;
  transform: rotate(-45deg);
  transition: transform .5s ease-in-out;
}

.openTop{
  height: 5px;
  width: 50px;
  background-color: #05386B;
  margin-bottom: 5px;
  transform: rotate(0deg);
  transition: transform .5s ease-in-out;
}

.openMiddle{
  height: 5px;
  width: 50px;
  margin-bottom: 5px;
  background-color: #05386B;
  transition: transform .5s ease-in;
}

.openBottom{
  height: 5px;
  width: 50px;
  background-color: #05386B;
  transform: rotate(0deg);
  transition: transform .5s ease-in-out;  
}

.header{
    font-weight: bold;
    width: inherit;
    height: 3.25rem;
    max-height: 3.25rem;
    padding: 1rem;
    position: relative;
    background-color: #e8e8e8;    
    h3 {
      color: #05386B;
      display: inline;
      text-transform: capitalize;
    } 
}

.circle1, .circle2, .circle3{
  margin-top: 3px;
  background-color: #05386B;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  
}
/*three dot options opener*/
.options{
  float: right;
  cursor: pointer;
  padding: 0 1rem;
}
.optionsMenu {
  animation: optionMenuFade;
  animation-duration: .25s;
  width: 250px;
  max-width: 90vw;
  background-color: #f4f4f4;
  border: 1px solid #e8e8e8; 
  border-radius: .5rem;
  z-index: 1;
  position: absolute;
  /*height of header*/
  top: 3.25rem;
  right: 0;
  margin: 0;
  padding: .25rem;
  list-style-type: none;
  li {
    width: 80%;
    margin: .25rem auto;
    padding: .25rem;
    border-bottom: 2px solid #e8e8e8;;
    color: #05386B; 
    cursor: pointer;
  }
}

@keyframes optionMenuFade {
  from{
    opacity: .05;
  }
  to{
    opacity: 1;
  }
}
