html {
    font-weight: bold;
    font-size: 1.25rem;
    box-sizing: border-box;
    overflow-y: scroll;
}
.wrapper {
    min-height: 100vh;
    padding: 1rem;  
}
.backgroundImage {
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: 95vw;
    background-attachment: fixed;
    background-position: 50% 98%;
    background-image: url(../../../images/backgroundsmall.png ); 
}
.wrapper p { 
    font-size: .75rem;
    margin: auto;
}
.form { 
    display: block;
    text-align: left;
    margin: .5rem auto;
    padding: 1rem;
    background-color: var(--light-accent-bg);
    width: 80vw;
    max-width: 90vw;
    color: var(--dark-action);
    font-weight: 700;
    letter-spacing: .1rem;
    border-radius: 1rem;
}
.register { float: right; }
img {
   width: 100%;
   max-height: 10vh;
   margin: 10vh 0 15vh 0;
}
/* phablet and up */
@media only screen and (min-width: 600px){
    .form { padding: 3rem; }
}
/*tablets and larger*/
@media only screen and (min-width: 700px) {
    .form {
        padding: 3rem;
        position: relative;
        max-width: 500px;
        max-height: 550px;
    }
    .backgroundImage { background-image: url( ../../../images/backgroundmedium.png ); }
}
//desktop
@media only screen and ( min-width: 1000px ) {
    .backgroundImage { background-image: url( ../../../images/backgroundlarge.png ); }
}