.alertContainerNegative {
    background-color: var(--negative-action);
    min-height: 2rem;
    max-height: 25vh;
}
.alertContainerSuccess {
    background-color: var(--positive-action);
    min-height: 2rem;
    max-height: 25vh;
}
.alertMessage {
    color: var(--main-bg);
    padding: 0 .5rem;
    font-size: .80rem;
}
.alertClose {
    color: var(--light-accent-bg);
    font-size: 1.5rem;
    cursor: pointer;
    float: right;
    padding-right: .5rem ;
}