main {
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: 95vw;
    background-attachment: fixed;
    background-position: 50% 98%;
    background-image: url( /backgroundsmall.png ); 
}
.landinglogo {
    max-height: 10vh;
    margin: 10vh 0 15vh 0;
}
.header {
    margin: 0 .25rem 1rem .25rem;
    font-size: 1.4rem; 
}
.subtext {  
    color: 	#313639;
    margin: auto;
    height: 10vh;
    font-size: .9rem;   
}
.chatButton {
    margin: 15vh 0 10vh 0;
    background-color: #05386B;
    text-decoration: none;
    color: white;
    padding: 0 3rem;
    max-width: 600px;
    height: 7vh;
    border-radius: 1rem;
    border: none;
    font-size: 1rem;
    &:focus, &:hover {   
        transform: scale( 1.2 );
        transition: all ease-in-out .25s;
    }
}
//tablet
@media only screen and ( min-width: 700px ) {
    main {
        background-image: url( /backgroundmedium.png );
    }
    .header {       
        font-size: 1.8rem;
    }
}
//desktop
@media only screen and ( min-width: 1000px ) {
    main {
        background-image: url( /backgroundlarge.png );
    }
    .header { 
        font-size: 2.5rem;
    }
    .subtext {
        width: 30vw;
        font-size: 1rem;  
    }
}