.container {
    overflow-y: scroll;
    height: 65vh;
    position: relative;
    text-align: center;
    background-color: var(--main-bg);
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    width: 100%;
    box-sizing: content-box;
    &::-webkit-scrollbar { display: none; } 
}