@import '../../../assets/colors.css';
html {
    font-weight: bold;
    font-size: 1.25rem;
    box-sizing: border-box;
    overflow: hidden;
}
*, *:before, *:after { box-sizing: inherit; }
.inputContainer {
    width: inherit;
    height: 20vh;
    padding: 1rem;
    position: absolute;
    bottom: 0;
    background-color: var(--dark-accent-bg);
    
}
.input {
    background-color: var(--light-accent-bg);
    color: #05386B;
    border: none;
    border-radius: 1rem;
    width: 80%;
    max-width: 1200px;
    height: 90%;
    padding: 1rem;
    transition: all .1s ease-in-out;
    /*slightly smaller so that once you click on the input and the input scales up. the font size is not super huge*/
    font-size: .9rem;
    &::placeholder { color: var(--dark-action); }
    &:hover { cursor: pointer; }
    &:focus {
        border: 1px solid var(--dark-action);
        outline: none;
        transform: scale(1.1);
    }
}