.container{
    overflow-y: scroll;
    height: 65vh;
    position: relative;
    text-align: center;
    margin: 0 1rem;
    background-color: white;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    width: 100%;
    
    box-sizing: content-box;
        &::-webkit-scrollbar{
            display: none;
        } 
}

.introMsg{
    text-align: center;
}
