.alertContainer {

    background-color: #f44336;
    min-height: 2rem;
    max-height: 25vh;

}
.alertMessage {

    color: white;
    padding: 0 .5rem;
    font-size: .80rem;

}
.alertClose {

    color: #F6F6F6;
    font-size: 1.5rem;
    cursor: pointer;
    float: right;
    padding-right: .5rem ;

}