.message {
    display: block;
    color: var(--dark-action);
    max-width: 100vw;
    text-align: left;
    padding: 1.5rem 1rem;
    margin: .25rem 0 .25rem 0;
    border-bottom: 1px dotted var(--light-action);
}
p { 
    max-width: 75vw;
    word-wrap: break-word;
    margin: 0;
}
.userName {
    margin: 0;
    padding: .25rem;
    padding: 0 0 .25rem 0;
    text-transform: capitalize;
}
.senderName {  
       background-color: var(--dark-action);
       color: var(--light-accent-bg);
}
.recieverName {
    background-color: var(--light-accent-bg);
}