@import '../../../assets/colors.css';
.burger {
  cursor: pointer;
  float: left;
  transform: scale(.8);
}
.close {
  float: left;
  margin-top: .5rem;
  transform: scale(.8);
  &:hover { cursor: pointer; }
}
.closeTop {
  height: 5px;
  width: 50px;
  background-color: var(--dark-action);
  transform: rotate(45deg);
  transition: transform .5s ease-in-out;
}
.closeMiddle {
  height: 5px;
  width: 50px;
  background-color: var(--dark-action);
  display: none;
  transition: transform .5s ease-in-out;
}
.closeBottom {
  height: 5px;
  width: 50px;
  background-color: var(--light-action);
  transform-origin: 40% 0;
  transform: rotate(-45deg);
  transition: transform .5s ease-in-out;
}
.openTop {
  height: 5px;
  width: 50px;
  background-color: var(--dark-action);
  margin-bottom: 5px;
  transform: rotate(0deg);
  transition: transform .5s ease-in-out;
}
.openMiddle {
  height: 5px;
  width: 50px;
  margin-bottom: 5px;
  background-color: var(--dark-action);
  transition: transform .5s ease-in;
}
.openBottom {
  height: 5px;
  width: 50px;
  background-color: var(--dark-action);
  transform: rotate(0deg);
  transition: transform .5s ease-in-out;  
}
.header {
    font-weight: bold;
    width: inherit;
    height: 3.25rem;
    max-height: 3.25rem;
    padding: 1rem;
    position: relative;
    background-color: var(--dark-accent-bg);    
    h3 {
      color: var(--dark-action);
      display: inline;
      text-transform: capitalize;
    } 
}
.circle1, .circle2, .circle3 {
  margin-top: 3px;
  background-color: var(--dark-action);
  width: 6px;
  height: 6px;
  border-radius: 50%;
}
/*three dot options opener*/
.options {
  float: right;
  cursor: pointer;
  padding: 0 1rem;
}
.optionsMenu {
  animation: optionMenuFade;
  animation-duration: .25s;
  width: 250px;
  max-width: 90vw;
  background-color: var(--light-accent-bg);
  border: 1px solid var(--dark-accent-bg); 
  border-radius: .5rem;
  z-index: 1;
  position: absolute;
  /*height of header*/
  top: 3.25rem;
  right: 0;
  margin: 0;
  padding: .25rem;
  list-style-type: none;
  li {
    width: 80%;
    margin: .25rem auto;
    padding: .25rem;
    border-bottom: 2px solid var(--dark-accent-bg);
    color: var(--dark-action); 
    display: block;
    cursor: pointer;
  }
}



@keyframes optionMenuFade {
  from { opacity: .05; }
  to { opacity: 1; }
}