.sidebarContainer{
    width: 20.5vw ;
    height: 100vh;
    background-color: #f4f4f4;
    padding: 1rem;
    position: relative;
    transition: all 1s ease-in-out;
    font-family: 'Raleway', sans-serif;
}

.addContainer{
    position: absolute;
    top: 20px;
    left: 75%;
    height: 30px;
    width: 25px;
        &:hover{
            cursor: pointer;
        }
}

.addButton{
    height: 6px;
    width: 100%;
    background: green;
    border: none;
        &::after{
            content: '';
            height: 6px;
            width: 100%;
            transform: rotate(90deg);
            border: 1px solid green;
            background-color: green;
            display: block;
        }
}

.popUpContainer {
    z-index: 100;
    background-color:  #05386B;
}
.users{
    color:#05386B;
        &:hover{
            color: rgba(5,56,107,0.6);
            font-weight: bold;
            cursor: grab;
        }
        
}

