html { font-family: sans-serif; font-weight: normal; }
body { font-family: sans-serif; font-weight: normal; }
.App { text-align: center; }
/** 
* CSS for form components inside of AccountSettings is here so that we
* only had to write them in one location.
*/
fieldset { border: none; }
legend {
    padding-bottom: 1.5rem;
    text-align: left;
}
label {
    display: block;
    margin-bottom: .5rem;;
}