:root {
	--main-bg: white;
	--main-text: rgb(26, 35, 59);
	--off-text: rgb(108, 129, 150);
	--light-accent-bg: rgb(243, 246, 255);
	--dark-accent-bg: rgb(243, 246, 255);
	--light-action: rgb(0, 0, 255);
	--dark-action: rgb(0, 0, 255);
	--positive-action: #5CDB95;
	--negative-action: rgb(244, 67, 54);
}
html { font-family: Jost; font-weight: normal; background-color: var(--main-bg);}
body { font-family: Jost; font-weight: normal; background-color: var(--main-bg); }
.App { text-align: center; }