.layout{
    position: relative;
    height: 100vh;
    display: grid;
    grid-template-columns: 20vw 80vw;
}
.sidebarGrid{
    grid-column-start: 1;
    grid-column-end: 1;
}
.mainContentGrid{
    
    height: 100vh; 
    grid-column-start: 2;
    grid-column-end: 2;
    z-index: 0;
    width: 80vw;
    transition: all 2s ease-in-out;
}

.animateSidebar{
    transition: transform 4s ease-in-out;
}







